@import "../../Variable.scss";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  @include xsmall {
    width: 80%;
  }
  @include small {
    width: 80%;
  }
  @include medium {
    width: 80%;
  }
}
