form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   background-color: rgb(109, 136, 184);

  .title-login {
    text-align: center;
    padding: 1.2em 0 2em 0;
    p {
      color: rgb(1, 37, 97);
      font-weight: 500;
      font-size: 5em;
    }
  }
  .box-input-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(112, 15, 148);
    width: 100%;
    .box-input {
      width: 100%;
      text-align: end;
    }
    .input-login {
      padding: 0.5em 0;
      width: 100%;
      input {
        box-shadow: 3px 3px 5px rgb(222, 222, 222);
        width: 100%;
        padding: 0.7em 0 0.7em 0.7em;
        border-radius: 0.2em;
        font-size: 1rem;
        outline: none;
        border: 1px solid rgb(222, 222, 222);
      }
    }

    .btn-login {
      padding-top: 2.5rem;
      width: 100%;
      //   background-color: rgb(109, 136, 184);
      input {
        width: 100%;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        padding: 0.4rem 4em;
        font-weight: 500;
        border-radius: 0.3rem;
        background-color: rgb(94, 102, 211);
        color: rgb(230, 230, 230);
      }
      input:nth-child(2) {
        background-color: rgb(1, 37, 97);
        margin-top: 0.5rem;
      }
    }
  }
}
