@import "../../Variable.scss";
.wrapper-main {
  min-height: 100vh;
  background-image: url("../../Assets/bgblue.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  user-select: none;
  .container-main {
    min-height: 80vh;
    background-color: $bgcolor;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xsmall {
      width: 70%;
    }
    @include small {
      width: 70%;
    }
    @include medium {
      width: 80%;
      padding: 10vh 0;
    }
  }
  .img-vector {
    // background-color: aqua;
    background-image: url(../../Assets/vectorcom.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
    flex: 1;
  }
  .box-form-login-register {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include xsmall {
      flex: 1;
    }
  }
  .container-main > *:first-child {
    @include xsmall {
      display: none;
    }
    @include small {
      display: none;
    }
    @include medium {
      display: none;
    }
  }
}
