@import "../../../Variable.scss";
.wrapper-main {
  min-height: 100vh;
  background-image: url("../../../Assets/bgblue.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  user-select: none;
  .container-main {
    width: 80%;
    min-height: 70vh;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor;
    border-radius: 1rem;
    @include xsmall {
      width: 90%;
      min-height: 50vh;
    }
    @include small {
      width: 90%;
      min-height: 60vh;
    }
    @include medium {
      width: 60%;
      min-height: 60vh;
    }
  }
  .img-vector {
    background-image: url("../../../Assets/vectorcom.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 46vh;
    flex: 1;
    // background-color: aqua;
  }
  .box-form-login-register {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include xsmall {
      flex: 1;
    }
  }
  .container-main > *:first-child {
    @include xsmall {
      display: none;
    }
    @include small {
      display: none;
    }
    @include medium {
      display: none;
    }
  }
}
