.showPass {
  cursor: pointer;
  .material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translate(0, -50%);
    font-size: 1.5em;
    color: rgb(117, 117, 117);
  }
}
