.left-view {
  display: grid;
  grid-template-rows: 0.25fr 0.2fr 3fr;
  .box-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-profile-user {
      flex: 1.5;
      display: flex;
      align-items: center;
      padding-left: 1em;
      img {
        margin-left: 10px;
        height: 30px;
        width: 30px;
        background-size: cover;
      }
    }
    .icon-menu {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2em;
      gap: 1em;
      span {
        cursor: pointer;
      }
    }
  }
  .icon-menu > .material-symbols-outlined {
    position: relative;
    &:hover::after {
      content: attr(data-hover);
      position: absolute;
      left: 80%;
      top: 120%;
      text-align: center;
      font-size: 0.5em;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      border: 1px solid black;
      padding: 4px 4px;
      z-index: 1;
    }
  }
  .box-search {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    input {
      background-color: whitesmoke;
      width: 80%;
      padding: 0.6em 0.5em 0.6em 3em;
      border-radius: 5px;
      outline: none;
      border: none;
      margin-right: 1em;
    }
    & > span:nth-child(1) {
      position: absolute;
      left: 8%;
      top: 50%;
      transform: translate(-8%, -50%);
      transition: all 1s ease;
    }
    span {
      cursor: pointer;
    }
  }
  .container-contact {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .box-contact {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      .img-contact {
        display: flex;
        align-items: center;
        flex: 0.2;
        img {
          border-radius: 50%;
          width: 30px;
          height: 35px;
          background-size: contain;
        }
      }

      .desc-contact {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        flex: 2;
        & > :first-child {
          font-size: 1.2em;
        }
        & > :last-child {
          font-size: 0.8em;
          color: rgb(111, 111, 111);
        }

        &::after {
          content: "";
          margin-top: 0.5em;
          height: 1px;
          width: 100%;
          background-color: rgb(111, 111, 111);
        }
      }
    }
  }

  .box-chat {
    background-color: white;
  }
}
