.title-reset {
  //   background-color: aquamarine;
  width: 100%;
  margin-bottom: 2rem;
  h1 {
    font-size: 2.5rem;
    color: rgb(3, 43, 113);
  }
}

.input-reset {
  width: 100%;
  margin-bottom: 1rem;

  input {
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0.5em;
    width: 100%;
    // margin: 0.4em 0;
  }
}

.box-btn-reset {
  width: 100%;
  button {
    width: 100%;
    padding: 0.6em 0;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    background-color: rgb(3, 43, 113);
    box-shadow: 2px 2px 2px 2px rgb(222, 222, 222);
    color: white;
  }
}

.error-reset {
  font-size: 0.8rem;
  overflow-wrap: break-word;
  color: red;
  display: none;
  margin-top: 0.5rem;
}
.error-confirm {
  font-size: 0.8rem;
  overflow-wrap: break-word;
  color: red;
  display: none;
  margin-top: 0.5rem;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .error-reset {
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .error-confirm {
  display: block;
}
