.new-chat-container {
  background-color: aqua;
  position: absolute;
  left: 0;
  top: 0;
  // width: 100%;
  width: 30%;
  height: 100%;
  transition: left 0.25s ease-in;
  z-index: 2;
  .material-symbols-outlined {
    cursor: pointer;
  }
}

.new-chat-container.close {
  left: -100%;
}
